.volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.volunteer-title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 60px;
}

.volunteer-title h1 {
  padding: 0 30px;
  font-size: 80px;
}

.volunteer-sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.volunteer-sect {
  border: 1px white solid;
  padding: 30px 80px;
  border-radius: 30px;
  transition: 0.6s;
}

.volunteer-sect:hover {
  background-image: linear-gradient(
    30deg,
    rgba(85, 24, 2, 1) 0%,
    rgba(75, 47, 0, 1) 53%,
    rgba(80, 69, 0, 1) 92%
  );
  transform: scale(1.05);
  transition: 0.6s;
}

.volunteer-sect h2 {
  text-align: center;
  font-size: 40px;
  background: linear-gradient(
    30deg,
    rgba(223, 64, 9, 1) 40%,
    rgba(244, 154, 3, 1) 50%,
    rgba(255, 220, 0, 1) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.volunteer-sect h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

.volunteer-sect p {
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .volunteer {
    margin: 30px 70px;
  }

  .volunteer-title h1 {
    padding: 0;
    font-size: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .volunteer {
    margin: 30px 70px;
    gap: 30px;
  }

  .arrow-icon {
    width: 40px;
  }

  .volunteer-title h1 {
    padding: 0;
    font-size: 30px;
  }

  .volunteer-sect {
    padding: 30px 40px;
  }

  .volunteer-sect h2 {
    font-size: 28px;
  }

  .volunteer-sect h3 {
    font-size: 20px;
  }
}
